<div class="container">
  <div class="row">
    <div class="col-md-11" align="center">
      <H1>Пул <%= @pool.name %> </H1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11">
      <table class="table">
        <tr>
          <th>Белый</th>
          <th>Красный</th>
          <th>Победитель</th>
          <th></th>
        </tr>
        <% @pool.fights.each do |fight| %>
            <tr>
              <td>
                <% if !fight.white_person.nil? %>
                    <%= fight.white_person.last_name.to_s+' '+fight.white_person.first_name.to_s+' '+fight.white_person.middle_name.to_s %>
                <% end %>
              </td>
              <td>
                <% if !fight.red_person.nil? %>
                    <%= fight.red_person.last_name.to_s+' '+fight.red_person.first_name.to_s+' '+fight.red_person.middle_name.to_s %>
                <% end %></td>
              <td>
                <% if !fight.winner_id.nil? %>
                    <% if fight.winner_id==fight.red_person_id %>
                        Красный
                    <% else %>
                        Белый
                    <% end %>
                <% else %>
                    Не известно
                <% end %>
              </td>
              <td>
                <%= link_to 'Детали', '/fight/'+fight.id.to_s %>
              </td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11" align="center">
      <%= render partial: 'layouts/footer-nav', locals: {links: @links} %>
    </div>
  </div>
</div>

