<div class="container">
  <div class="row">
    <div class="col-md-11" align="center">
      <h1><%= @tournament.full_name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <h2>Описание</h2>
      <p><%= @tournament.description %></p>
    </div>
    <div class="col-md-5">
      <h2></h2>
      <table class="table">
        <tr>
          <td>Статус мероприятия</td>
          <td><%= @tournament.status.name %></td>
        </tr>
        <tr>
          <td>Тип соревнований</td>
          <td><%= @tournament.tournament_type.name %></td>
        </tr>
        <tr>
          <td>Дата начала</td>
          <td><%= @tournament.start_date %></td>
        </tr>
        <tr>
          <td>Дата окончания</td>
          <td><%= @tournament.end_date %></td>
        </tr>
        <tr>
          <td>Место проведения</td>
          <td><%= @tournament.place %></td>
        </tr>
        <tr>
          <td>Количество участников</td>
          <td><%= @persons_count %></td>
        </tr>
      </table>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
<%= render partial: 'layouts/footer-nav', locals: {links: @links} %>
