<table>
  <%= form_for :tournament, :url => url_for(:controller => 'tournament', :action => 'save') do |f| %>
      <tr>
        <td>Название</td>
        <td>
          <%= f.text_field :full_name %>
        </td>
      </tr>
      <tr>
        <td>Короткое название</td>
        <td>
          <%= f.text_field :short_name %>
        </td>
      </tr>
      <tr>
        <td>Место проведения</td>
        <td>
          <%= f.text_field :place %>
        </td>
      </tr>
      <tr>
        <td>Тип турнира</td>
        <td>
          <%= f.select :tournament_type_id, TournamentType.all.collect { |p| [p.name, p.id] } %>
        </td>
      </tr>
      <tr>
        <td>Статус турнира</td>
        <td>
          <%= f.select :status_id, Status.all.collect { |p| [p.name, p.id] } %>
        </td>
      </tr>
      <tr>
        <td>Дата начала</td>
        <td>
          <div id="results"></div>
          <%= f.date_select :start_date %>
        </td>
      </tr>
      <tr>
        <td>Дата окончания</td>
        <td>
          <%= f.date_select :end_date %>
        </td>
      </tr>
      <%= f.submit 'Добавить' %>
  <% end %>
  <%= form_for :file, :url => url_for(:controller => 'upload', :action => 'upload_image'), :html => {:multipart => true, :id => "logo"} do |f|%>
      <tr>
        <td>Логотип</td>
        <td>
          <img id="logo" />
          <%= f.file_field :data, accept: 'image/png,image/gif,image/jpeg' %>
          <%= f.submit %>
        </td>
      </tr>
  <% end %>
</table>
<img src="/rest/store?file_name=1a9133d0-bed8-0134-6a71-448a5b428a5b.gif" height="100px", width="100px"/>