<%= render partial: 'layouts/user_pane' %>
<table>
  <tr>
    <th>Название</th>
    <th>Тип</th>
    <th>Статус</th>
    <th>Начало</th>
    <th>Завершение</th>
  </tr>
  <% @page.each do |tournament| %>
    <tr>
      <td><%= link_to tournament.short_name.to_s, tournament.id.to_s %></td>
      <td><%= tournament.tournament_type.name %></td>
      <td><%= tournament.status.name %></td>
      <td><%= tournament.start_date %></td>
      <td><%= tournament.end_date %></td>
    </tr>
  <% end %>
  <tr>
    <td>
      <%= render partial: 'layouts/paging', locals: { page: @page } %>
    </td>
  </tr>
</table>
<h2><%= link_to 'Добавить турнир', 'new'%></h2>
