<div class="container">
  <div class="row">
    <div class="col-md-11" align="center">
      <h1><%= @person.fio %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11">
      <table class="table">
        <tr>
          <td>Год рождения</td>
          <td><%= @person.birth_date %></td>
        </tr>
        <tr>
          <td>Уровень</td>
          <td><%= @person.level.name %></td>
        </tr>
        <tr>
          <td>Клуб</td>
          <td><%= @person.club.name %></td>
        </tr>
        <tr>
          <td>Рейтинг</td>
          <td><%= @person.rank %></td>
        </tr>
        <tr>
          <td>Пол</td>
          <% if @person.sex %>
              <td>М</td>
          <% else %>
              <td>Ж</td>
          <% end %>
        </tr>
        <tr>
          <td>Телефон</td>
          <td><%= @person.phone %></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><%= @person.email %></td>
        </tr>
        <tr>
          <td>Количество турниров в которых зарегистрирован</td>
          <td><%= @person.tournament_persons.count %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11" align="center">
      <%= render partial: 'layouts/footer-nav', locals: {links: @links} %>
    </div>
  </div>
</div>

