<div class="container">
  <div class="row">
    <div class="col-md-11" align="center">
      <h1>Добавить участника</h1>
    </div>
  </div>
  <%= bootstrap_form_for :person, :url => url_for(:controller => 'person', :action => 'save') do |f| %>
      <div class="row">
        <div class="col-md-11">
          <%= f.text_field :last_name, label: 'Фамилия' %>
          <%= f.text_field :first_name, label: 'Имя' %>
          <%= f.text_field :middle_name, label: 'Отчество' %>
          <%= f.date_select :birth_date, label: 'Дата рождения' %>
          <%= f.select :level_id, Level.all.collect { |p| [p.name, p.id] }, label: 'Уровень' %>
          <%= f.select :club_id, Club.all.collect { |p| [p.name, p.id] }, label: 'Клуб' %>
          <%= f.text_field :rank, label: 'Рейтинг' %>
          <%= f.select :sex, [['М', true], ['Ж', false]], label: 'Пол' %>
          <%= f.text_field :phone, label: 'Телефон' %>
          <%= f.text_field :email, label: 'Email' %>
          <%= f.hidden_field :tournament_id, value: @tournament_id %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-11" align="center">
          <%= f.submit 'Добавить' %>
        </div>
      </div>
  <% end %>
</div>
