<%= render partial: 'layouts/menu' %>
<%= render partial: 'layouts/user_pane' %>
<table>
  <tr>
    <th>ФИО</th>
    <th>Год рождения</th>
    <th>Уровень</th>
    <th>Клуб</th>
    <th>Рейтинг</th>
    <th>Пол</th>
    <th>Телефон</th>
    <th>Email</th>
  </tr>
  <% @page.each do |person| %>
      <tr>
        <td><%= link_to person.last_name.to_s+' '+person.first_name.to_s+' '+person.middle_name.to_s, person.id.to_s  %></td>
        <td><%= person.birth_date %></td>
        <td><%= person.level.name %></td>
        <td><%= person.club.name %></td>
        <td><%= person.rank %></td>
        <% if person.sex %>
          <td>М</td>
        <% else %>
          <td>Ж</td>
        <% end %>
        <td><%= person.phone %></td>
        <td><%= person.email %></td>
      </tr>
  <% end %>
  <tr>
    <td>
      <%= render partial: 'layouts/paging', locals: { page: @page } %>
    </td>
  </tr>
</table>
<h2><%= link_to 'Добавить участников', '/views/tournament-person/add_persons?tournament_id='+@tournament_id.to_s %></h2>
<h2><%= link_to 'Импорт участников', '/views/tournament-person/add_persons?tournament_id='+@tournament_id.to_s %></h2>
