<div class="container">
  <div class="row">
    <div class="col-md-11" align="center">
    </div>
  </div>
  <%= bootstrap_form_for :tournament_persons, :url => url_for(:controller => 'tournament_person', :action => 'add_persons') do |f| %>
      <div class="row">
        <div class="col-md-11">
          <%= f.collection_check_boxes :persons, @persons, :id, :fio, :style => "width:100px;", :inline => true, label: '-' %>
          <%= f.hidden_field :tournament_id, value: @tournament_id %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-11" align="center">
          <%= f.submit 'Добавить' %>
        </div>
      </div>
  <% end %>
  <div class="row">
    <div class="col-md-11" align="center">
      <%= render partial: 'layouts/footer-nav', locals: {links: @links} %>
    </div>
  </div>
</div>
