<% def grid(fight, node_num) %>
    <li class="list-group-item node-treeview3" data-nodeid=<%= node_num %>>
      <span class="icon expand-icon glyphicon glyphicon-minus"></span><span class="icon node-icon"></span>
      <br/>
      <% if node_num >0 %>
          <span class="indent"></span>
      <% end %>
      <% if !fight.white_person.nil? %>
          <%= fight.white_person.fio.to_s %>
      <% end %>
      <br/>
      <% if !fight.red_person_id.nil? %>
          <%= fight.red_person.fio.to_s %>
      <% end %>
      <br/>
      <%= link_to 'Детали', '/fight/'+fight.id.to_s %>
    </li>
    <% fight.childs.each do |child| %>
        <ul>
          <% grid(child, node_num+1) %>
        </ul>
    <% end %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-11" align="center">
      <h1>Турнирная сетка</h1>
    </div>
    <div class="col-md-11">
      <div id="treeview3" class="treeview">
        <ul class="list-group">
          <% grid(@final, 0) %>
        </ul>
      </div>
    </div>
    <div class="col-md-11" align="center">
      <%= render partial: 'layouts/footer-nav', locals: {links: @links} %>
    </div>
  </div>
</div>
