<!DOCTYPE html>
<html>
  <head>
    <title>TournamentTools</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div align="right">
      <%= render partial: 'layouts/user_pane' %>
    </div>
    <div align="center">
      <%= render partial: 'layouts/menu' %>
      <br/>
      <br/>
      <br/>
      <br/>
      <%= yield %>
    </div>
  </body>
</html>
